# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
pubspec.lock

# Platform folders (dihasilkan oleh `flutter create .`)
android/
ios/
web/
macos/
linux/
windows/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
